@using Project.MVC.Models.PageVMs
@model LoginPageVM

@TempData["Mesaj"]
<form asp-action="Login" asp-controller="Home" method="post">
    <section>
        <main>
            <div>
                <label for="mail"> Email giriniz</label>
                <input asp-for="LoginAppUserVM.Email" id="mail" class="form-control" />
            </div>
            <div>
                <label for="sifre"> Sifre giriniz</label>
                <input asp-for="LoginAppUserVM.Password" id="sifre" class="form-control" />
            </div>
        </main>
        <button>Login</button>
    </section>
</form>
