@using Project.MVC.Models.PageVMs
@model RegisterPageVM

<form asp-action="Register" asp-controller="Home" method="post">
    @TempData["AyniDegil"]

    <section>
        <main>
            <div class="mb-3">
                <label for="as">Email giriniz</label>
                <input asp-for="RegisterAppUserVM.Email" class="form-control" id="as" />
            </div>

            <div class="mb-3">
                <label for="sifre">Sifre giriniz</label>
                <input asp-for="RegisterAppUserVM.Password" class="form-control" id="sifre" />
            </div>

            <div class="mb-3">
                <label for="tekrar">Sifre Tekrar giriniz</label>
                <input asp-for="RegisterAppUserVM.ConfirmPassword" class="form-control" id="tekrar" />
            </div>
        </main>
        <div class="mb-3">
            <button class="btn btn-primary">Kayıt ol</button>
        </div>
    </section>


</form>